.mtk11 {
	color: #9cdcfe;
}

.mtk1 {
	color: #d4d4d4;
}

.mtk10 {
	color: #dcdcaa;
}

.mtk7 {
	color: #ce9178;
}

.mtk5 {
	color: #569cd6;
}

.hint {
	border-bottom: 1px dotted currentColor;
	cursor: help;
}
